# global
*.log
*.svn
*.class
*.vms
*.DS_Store
runtimes
out
flex-sdk-description.xml
SDK license.pdf
tempDoc
AIR SDK Readme.txt

# bin
bin/adl
bin/adl.exe
bin/adt
bin/adt.bat

## FRAMEWORKS
# frameworks
frameworks/locale
frameworks/rsls

# javascript
frameworks/javascript/FABridge/samples/fabridge

# libs
frameworks/libs/air
frameworks/libs/airframework.swc
frameworks/libs/airframework.swc.incr
frameworks/libs/flex.swc
frameworks/libs/flex.swc.incr
frameworks/libs/framework.swc
frameworks/libs/framework.swc.incr
frameworks/libs/rpc.swc
frameworks/libs/rpc.swc.incr
frameworks/libs/utilities.swc
frameworks/libs/utilities.swc.incr
frameworks/libs/flex4.swc
frameworks/libs/spark.swc
frameworks/libs/sparkskins.swc
frameworks/libs/textLayout.swc
frameworks/projects/halo/bundles.properties
frameworks/projects/sparkskins/bundles.properties
frameworks/projects/wireframe/bundles.properties
frameworks/themes/Halo/halo.swc

# projects
frameworks/projects/air
frameworks/projects/airframework/bundles.properties
frameworks/projects/flash-integration/libs
frameworks/projects/flash-integration/bundles.properties
frameworks/projects/flex/bundles.properties
frameworks/projects/framework/bin
frameworks/projects/framework/bundles.properties
frameworks/projects/framework/manifest.xml
frameworks/projects/rpc/bin
frameworks/projects/rpc/bundles.properties
frameworks/projects/spark/bundles.properties
frameworks/projects/spark/manifest.xml
frameworks/projects/utilities/bundles.properties

# tests
frameworks/tests/checkinapp/checkinapp.swf
frameworks/tests/componentSmoke/componentSmoke2.swf
frameworks/tests/fxgCompile/fxgCompileTest.swf
frameworks/tests/graphics/GraphicTags_checkin.swf
frameworks/tests/layout/layout.swf
frameworks/tests/spark/flex4test.swf
frameworks/tests/states/statefulAttributes.swf
frameworks/tests/states/statefulNodes.swf

# themes
frameworks/themes/HaloClassic
frameworks/themes/Wireframe

## IN
in/player/10/mac/Flash Player.app

## LIB
lib/adt.jar
lib/asc.jar
lib/asdoc.jar
lib/compc.jar
lib/copylocale.jar
lib/digest.jar
lib/fcsh.jar
lib/fdb.jar
lib/flex-compiler-oem.jar
lib/flexTasks-internal.jar
lib/flexTasks.jar
lib/mxmlc.jar
lib/mxmlc_ja.jar
lib/optimizer.jar
lib/swfutils.jar
lib/swfdump.jar
lib/fxgutils.jar
lib/swcdepends.jar

## Modules
modules/profiler3
modules/antTasks/classes
modules/asc/lib
modules/asc/build/java/classes
modules/compiler/classes
modules/compiler/classes15
modules/debugger/classes
modules/fxgutils/classes
modules/swfutils/classes
modules/webtier/dist
modules/webtier/j2ee/dist
modules/webtier/j2ee/bootstrap/classes
modules/webtier/j2ee/coldfusion/classes
modules/webtier/j2ee/coldfusion/dist
modules/webtier/j2ee/lib/flex-bootstrap-jsp.jar
modules/webtier/j2ee/lib/flex-bootstrap.jar
modules/webtier/j2ee/lib/flex-webtier-jsp.jar
modules/webtier/j2ee/lib/flex-webtier.jar
modules/webtier/j2ee/servlet/classes
modules/webtier/j2ee/taglib/classes

## Samples
samples/badge
samples/icons
samples/descriptor-sample.xml

## Templates
templates/air

## Webapps
webapps/webtier/history
webapps/webtier/WEB-INF/lib
webapps/webtier/WEB-INF/flex/hotfixes
webapps/webtier/WEB-INF/flex/jars
webapps/webtier/WEB-INF/flex/libs
webapps/webtier/WEB-INF/flex/locale
webapps/webtier/WEB-INF/flex/flash-unicode-table.xml
webapps/webtier/WEB-INF/flex/localFonts.ser
webapps/webtier/WEB-INF/flex/macFonts.ser
webapps/webtier/WEB-INF/flex/mxml-manifest.xml
webapps/webtier/WEB-INF/flex/winFonts.ser
webapps/webtier/WEB-INF/flex/flex-sdk-description.xml
webapps/webtier/WEB-INF/flex/logs
webapps/webtier/WEB-INF/flex/rsls