<html>
<head>
<title>/testApp.mxml</title>
<style>
 body,pre { font-family:Tahoma,Helvetica,sans-serif; font-size:10pt; }
 div.indent { margin-left: 20;}
 span.reference { font-weight: bold }
 span.header {white-space:nowrap }
 span.title {font-size:12pt; color:blue}
 span.highlight { background-color: \#FFFFB7 }
 table.code { font-family: courier; font-size: 9pt;}
span.fade { color:#666666; font-size:11px }
</style>
</head>
<body>
    <script language='JavaScript' charset='utf-8'>
    function showHide(targetName) {
        if( document.getElementById ) { // NS6+
            target = document.getElementById(targetName);
        } else if( document.all ) { // IE4+
            target = document.all[targetName];
        }
        if( target ) {
            if( target.style.display == "none" ) {
                target.style.display = "inline";
            } else {
                target.style.display = "none";
            }
        }
    }
    </script>
$events
</body>
</html>
