#if ($firstTime)
	<script src="$tagsJS" language="javascript"></script>
	#if ($historyEnabled)
	    <!--  BEGIN Browser History required section -->
	    <link rel="stylesheet" type="text/css" href="${historyCss}" />
	    <script src="${historyJS}" language="javascript"></script>
	    <!--  END Browser History required section -->	
	#end
#end

$events
<script language="JavaScript" type="text/javascript">
<!--
		AC_FL_RunContent(
					"src", "$swfName",
					"width", "$width",
					"height", "$height",
					"align", "middle",
					"id", "$application",
					"quality", "high",
					"bgcolor", "$bgcolor",
					"name", "$application",
					"allowScriptAccess","sameDomain",
					"type", "application/x-shockwave-flash",
					"flashvars","$flashvars",
					"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
// -->
</script>
<noscript>

	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="$application" width="$width" height="$height"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="$swf" />
			<param name="quality" value="high" />
			<param name="flashvars" value="$flashvars"/>
			<param name="bgcolor" value="$bgcolor" />
			<param name="allowScriptAccess" value="sameDomain" />
			<embed src="$swf" quality="high" bgcolor="$bgcolor"
				width="$width" height="$height" name="$application" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
	</object>
</noscript>
