/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "library://ns.adobe.com/flex/spark";

/* Default Skins */

Application
{
    skinClass: ClassReference("spark.skins.spark.ApplicationSkin");
    backgroundColor: #FFFFFF;
}

ButtonBase
{
    lineBreak: "explicit";
    textAlign: "center";
}

Button
{
    skinClass: ClassReference("spark.skins.spark.ButtonSkin");
}

Button.emphasized
{
    skinClass: ClassReference("spark.skins.spark.DefaultButtonSkin");
}

ButtonBar
{
    skinClass: ClassReference("spark.skins.spark.ButtonBarSkin");
}

CheckBox
{
    skinClass: ClassReference("spark.skins.spark.CheckBoxSkin");
    textAlign: "start";
}

DropDownList
{
    skinClass: ClassReference("spark.skins.spark.DropDownListSkin");
}

SkinnableComponent
{
    focusSkin: ClassReference("spark.skins.spark.FocusSkin");
}

SkinnableContainer
{
    skinClass: ClassReference("spark.skins.spark.SkinnableContainerSkin");
}

SkinnableDataContainer
{
	skinClass: ClassReference("spark.skins.spark.SkinnableDataContainerSkin");
}

HScrollBar
{
    skinClass: ClassReference("spark.skins.spark.HScrollBarSkin");
}

HSlider
{
    skinClass: ClassReference("spark.skins.spark.HSliderSkin");
}

List
{
	skinClass: ClassReference("spark.skins.spark.ListSkin");
}

NumericStepper
{
    skinClass: ClassReference("spark.skins.spark.NumericStepperSkin");
}

Panel
{
	skinClass: ClassReference("spark.skins.spark.PanelSkin");
}

RadioButton
{
	skinClass: ClassReference("spark.skins.spark.RadioButtonSkin");
    textAlign: "start";
}

Scroller
{
    skinClass: ClassReference("spark.skins.spark.ScrollerSkin");
}

Spinner
{
    skinClass: ClassReference("spark.skins.spark.SpinnerSkin");    
}

TextArea
{
	lineBreak: "toFit";
	skinClass: ClassReference("spark.skins.spark.TextAreaSkin");
}

TextInput
{
	lineBreak: "explicit";
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
}

ToggleButton
{
	skinClass: ClassReference("spark.skins.spark.ToggleButtonSkin");
}

VideoPlayer
{
    skinClass: ClassReference("spark.skins.spark.VideoPlayerSkin");
}

VScrollBar
{
	skinClass: ClassReference("spark.skins.spark.VScrollBarSkin");
}

VSlider
{
    skinClass: ClassReference("spark.skins.spark.VSliderSkin");
}

global
{
    /* color: #000000; */
    baseColor: #CCCCCC;
    contentBackgroundColor: #FFFFFF;
    rollOverColor: #CEDBEF;
    selectionColor: #A8C6EE;
    focusColor: #70B2EE;
    symbolColor: #000000;
}
